<!DOCTYPE html>
<html>
  <head>
    <title>Microblog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'posts/header' %>
    <div class="container mb-5">
    <div class="jumbotron jumbotron-fluid mb-2 bgimg">
      <div class="container">
      <h1 class="display-3 text-warning">ひとりごとapp</h1>
      <p class="lead">RubyonRails練習用</p>
      </div>
    </div>
    <%= yield %>
    </div>
  </body>
</html>
